<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul>
        {% for dog in puppies %}
            <li>{{dog}}</li>
        {% endfor %}
    </ul>
    {% if  'Sparky' in puppies %}
        <p>Found you, Sparky!</p>
    {% else %}
    <p>Hmm... Sparky is not in this list!</p>
    {% endif %}
  </body>
</html>
